/* poppins font imported */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
    font-family: "Poppins", sans-serif;
}

/* shared styles */
:root {
    --primary-color: #3A3A3A;
}

.common-btn {
    height: 44px;
    width: 170px;
    font-weight: 800;
    text-align: left;
    color: white;
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 0px 10px 24px;

}

main>section {
    max-width: 1140px;
    margin: 0 auto;
}

/* navigation related styles */
.header {
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: bisque; */
}

.logo {
    color: var(--primary-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar .nav-links li {
    list-style: none;
}

.navbar .nav-links a {
    text-decoration: none;
    color: var(--primary-color);
}

/* hero section styles */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

#hero-title {
    max-width: 582px;
    font-size: 3rem;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 16px;
}

.hero-details {
    color: var(--primary-color);
    max-width: 500px;
    font-weight: 500;
}

.main-camera {
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.main-camera img {
    width: 100%;
}

/* sponsor styles */
.market-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 36px 62px;

    gap: 60px;
    /* margin-top: 0px auto 0px auto; */
    margin-top: 100px;
    margin-left: 100px;
    max-width: 1140px;
    border: 1px solid rgba(128, 128, 128, 0.075);
}

/* card styles */
.popular-collection{
    margin-top: 100px;
}
.popular-collection-title{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
}
.card {
    box-sizing: border-box;
    /* border: 2px solid red; */
    width: 100%;
    padding: 15px;
    box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, 0.83);
}

.card-container {
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 30px;
    justify-content: space-between;
}

.product-image {
    width: 100%;
}


/* media query */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .hero-description {
        text-align: center;
    }

    #hero-title {
        font-size: 1.75rem;
        margin: 14px auto;
    }

    .hero-details {
        /* color: var(--primary-color); */
        /* max-width: 500px; */
        font-weight: 400;
        font-size: 0.8rem;
    }

    .market img {
        height: 100%;
        width: 100%;
        justify-items: center;
    }

    .market-container {
        border: none;
        height: 100%;
        width: 300px;
        grid-template-columns: repeat(4, 1fr);

        margin: 50px auto 0px auto;
        padding: 0;
        gap: 20px;
    }

}